<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div class="background">
  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Sun:
      </div>
      <div class="align-right">
        1
      </div>
    </div>
  </div>
  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Mon:
      </div>
      <div class="align-right">
        2
      </div>
    </div>
  </div>
  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Tues:
      </div>
      <div class="align-right">
        3
      </div>
    </div>
  </div>
  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Wed:
      </div>
      <div class="align-right">
        4
      </div>
    </div>
  </div>
  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Thurs:
      </div>
      <div class="align-right">
        5
      </div>
    </div>
  </div>
  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Fri:
      </div>
      <div class="align-right">
        6
      </div>
    </div>
  </div>
  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Sat:
      </div>
      <div class="align-right">
        7
      </div>
    </div>
  </div>

  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Sun:
      </div>
      <div class="align-right">
        8
      </div>
    </div>
  </div>
  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Mon:
      </div>
      <div class="align-right">
        9
      </div>
    </div>
  </div>
  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Tues:
      </div>
      <div class="align-right">
        10
      </div>
    </div>
  </div>
  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Wed:
      </div>
      <div class="align-right">
        11
      </div>
    </div>
  </div>
  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Thurs:
      </div>
      <div class="align-right">
        12
      </div>
    </div>
  </div>
  <div class="sun">
    <div class="inside">
      <div class="align-left">
        Fri:
      </div>
      <div class="align-right">
        13
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Sat:
      </div>
      <div class="align-right">
        14
      </div>
    </div>
  </div>

  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Sun:
      </div>
      <div class="align-right">
        15
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Mon:
      </div>
      <div class="align-right">
        16
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Tues:
      </div>
      <div class="align-right">
        17
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Wed:
      </div>
      <div class="align-right">
        18
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Thurs:
      </div>
      <div class="align-right">
        19
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Fri:
      </div>
      <div class="align-right">
        20
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Sat:
      </div>
      <div class="align-right">
        21
      </div>
    </div>
  </div>

  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Sun:
      </div>
      <div class="align-right">
        22
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Mon:
      </div>
      <div class="align-right">
        23
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Tues:
      </div>
      <div class="align-right">
        24
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Wed:
      </div>
      <div class="align-right">
        25
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Thurs:
      </div>
      <div class="align-right">
        26
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Fri:
      </div>
      <div class="align-right">
        27
      </div>
    </div>
  </div>
  <div class="sun bottom">
    <div class="inside">
      <div class="align-left">
        Sat:
      </div>
      <div class="align-right">
        28
      </div>
    </div>
  </div>
</div>
</body>
</html>
